:root {
    --card-text-color: #777;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'High Tower Text';
    background-color: darkblue;
}

.Headline {
    background-color: #333;
    display: grid;
    place-items: center;
    padding: 3rem;
}

h1 {
    color: #fff;
    grid-column: 1/-1;
}

.Headline p {
    color: #999;
}

span {
    color: darkorange;
    background-color: gray;
}
span::before {
    content: '(Typ)';
}

ul {
    color: lime;
    background-color: gray;
}

a {
    color: indianred;
}

.side-menu {
    position: absolute;
    width: 15rem;
    height: 100%;
    background-color: dimgray;
    right: 0;
}

@media (max-width: 1000px) {
    .side-menu {
        display:none;
    }
}

.Fruits {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100%;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards {
    width: 50%;
    transform: translate(50%, 0%);
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-content: center;
    align-content: center;
    z-index: 1;
    background-color: rgba(10 10 10 / 70%);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

.card {
    padding: 1rem;
    width: 10rem;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

    .card h2 {
        color: white
    }

    .card p {
        color: var(--card-text-color);
    }

.btn {
    height: 5rem;
    margin: 2rem;
    padding: 1em;
    cursor: pointer;
    color: var(--card-text-color);
}

    .btn:hover,
    .btn:focus {
        background-color: yellow;
    }

.btn-1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.btn-2 {
    transform: translate(40%);
}
